.content-area1 {
  float: left;
  margin-top: 1.5em;
}
.content-area2 {
  width: 35%;
  float: right;
  margin-top: 3.5em;
}
article#content {
  margin: 1em auto;
  p,
  h5 {
    width: 75%;
    margin: auto;
  }
  h5 {
    color: #a50613;
  }
  p {
    font-size: 105%;
  }
  .og-details p {
    width: 100%;
  }
}
body.recent article#content h5 {
  color: #a50613;
}
figure {
  margin: 0.5em auto;
  img {
    display: block;
    margin: auto;
  }
}
figcaption {
//  border: 1px solid;
  padding: 0 0.25em;
  margin-top: .5em auto;
  width: 40%;
  margin: auto;
  line-height: 1.25em;
  font-size: 80%;
}
.og-grid li {
  margin: .675em .375em 3em .375em;
}
section.caption {
  padding: 0.25em 0;
  font-size: 80%;
  margin: .5em auto 0;
  width: 75%;
  background-color: #f9f9f9;
  border: 1px solid #c3c3c3;
  @include border-radius(5%);
}
.og-details {
  h3 {
    font-size: 2em;
    color: #a50613;
  }
  p {
    color: #555;
    font-size: 1em;
    background: #f9f9f9;
    line-height: 1.25em;
    padding: 2%;

  }
}
body.soybomb .og-details,
body.monk .og-details {
  a {
    display: none;
  }
}
/*

.og-grid li {
  margin-bottom: 1em;
}*/

/*****************************************
***********MEDIA QUERIES*/

@media screen and (max-width: 600px) {
  article#content p,
  article#content h5 {
    width: 95%;
  }
  .og-grid li {
    margin-top: 0;
    margin-bottom: 3em;
  }
}
