.clearfix:after {
  display: block;
  clear: both;
}
div.navi {
//  height: 3em;
}
section.home-icon {
  float: right;
  margin-right: 2em;
  background: #a50613;
  margin-bottom: .5em;
  padding: 2px;
  @include border-radius(2%);
}

.navi-small {
  display: none;
}
.navi-medium-up {
  nav.menu {
    width: 960px;
    margin: .75em 0 0;
    li {
      list-style: none;
      a {
        transition:all linear 0.15s;
        background: #a50613;
        @include border-radius(2%);
        color: white;
        padding: .25em .5em;
        font-size: 1.125em;
        span.arrow {
          font-size: .5em;
          line-height: 0%;
        }
      }
      ul.sub-menu {
          width: 160%;
          padding: 5px 0;
          position: absolute;
          top: 100%;
          left: 0px;
          z-index: -1;
          opacity: 0;
          transition:opacity linear 0.15s;
          background: #a50613;
          li {
            margin: 0.5em 0;
            a {
              padding: 4px 8px;
              display: block;
            }
            a:hover {
              background: black;
            }
          }
      }
    }
    li:hover .sub-menu {
      z-index: 1;
      opacity: 1;
    }
    > ul > li {
      float: left;
      position: relative;
      display: inline-block;
      margin-left: 1em;
      > a {
        display: inline-block;
      }
    }
  }
}
.menu > ul > li:hover > a,
section.home-icon:hover {
    background: black;
}

@media screen and (max-width: 600px) {
  a.navi-small {
    background-color: #f9f9f9;
  }
  .navi-small {
    display: block;
  }
  .navi-medium-up {
    display: none;
  }
  nav.nav-collapse {
    position: absolute;
    background: #a50613;
    li {
      background-color: #a50613;
      ul.sub-menu {
        margin-left: 2em;
      }
      a {
        color: white;

      }
    }
  }
}
